<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAPP Demo 2: Vue</title>

    <!--Stylesheet Link-->
    <link rel="stylesheet" href="/sapp-hub/styling/main.css">

    <!--Vue Link-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <h1> {{ title }}</h1>
        <div class="char-box">
        <!--<div class="char-list">
            <img v-for="image in cards" :src=image.shadow :key="image.id">
        </div>-->
        <div class="char-list">
            <img v-for="image in cards"
             :key="image.id" @mouseover= "image.hover = true" @mouseleave= "image.hover = false"
             :src="image.hover === true ? image.face: image.shadow">
        </div>

    </div>
    </div>


     <!--JS Links-->
     
     <script type="text/javascript" src="/sapp-hub/js/vueversion.js"></script>
     <script>
         const mountedApp = app.mount('#app')
     </script>
</body>

<!---->