/*Font Import*/
@import "/sapp-hub/fonts/stylesheet.css";


body{
margin: 0;

}
* {box-sizing: border-box;}

/* For Light/Dark Mode In the Future: 
https://dev.to/ayc0/light-dark-mode-system-mode-user-preferences-1fcd
Use App colors as inspiration!*/

.char-list{
    width: fit-content;
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
}

.char-box{
    margin-top: 5px;
    margin-left: 10px;
    /* -webkit-backface-visibility : hidden; 
    backface-visibility: hidden;
    -webkit-transform: skew(5deg, 0);
    transform: skew(5deg, 0);
    overflow: hidden; */
    border: 5px solid rgb(0, 0, 0);
}

img {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    /* --webkit-transform: skew(-5deg, 0);
    transform: skew(-5deg, 0); */
}

#john{
    transition: all 0.5s ease;
}

#john:hover {
--dotSize: 0.25rem;
--bgSize: 1.35rem;
--bgPosition: calc(var(--bgSize) / 2);

  background-image: radial-gradient(
      circle at center,
      #3a0404 var(--dotSize),
      transparent 0
    ), radial-gradient(circle at center, #3a0404 var(--dotSize), transparent 0);
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
  background-color:#5F0B0D;
}


/**Halftone**/
.halftone {
    transition: all 0.5s ease;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.607) 0.25rem, transparent 0),radial-gradient(circle at center, rgba(0, 0, 0, 0.644) 0.25rem, transparent 0);
    background-size: 1.3rem 1.3rem;
    background-repeat: round;
    background-position: 0 0, 0.65rem 0.65rem;
  }

/**Text Alignment**/

h1{
   text-align: center;
}

/**Style Container**/
.style-container{
    -webkit-backface-visibility : hidden; 
    backface-visibility: hidden;
    -webkit-transform: skew(5deg, 0);
    transform: skew(5deg, 0);
    overflow: hidden;
    border: 5px solid rgb(0, 0, 0);
    background-color: gray;
    height: 300px;
    width: 200px;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.style-container img{
    --webkit-transform: skew(-5deg, 0);
    transform: skew(-5deg, 0);
    
}

/* When I move into transformations I can use margin-left: -20px; to shift sillhouette over.*/

/*Font Family*/
h1{
    font-family: 'boom_comic_fontregular';
    font-size: 60px;
}

nav{
    font-family: 'Permanent Marker', cursive;

}




