nav{
    background-color: aqua;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    }

nav a, li {
        text-decoration: none;
        list-style-type: none;
    }

    .logo{
        margin-bottom: 0px;
    }

    
@media screen and (max-width: 510px) {
    

nav{
background-color: aqua;
width: 100%;
font-size: 2rem;
text-align: center;
overflow: auto;
}

nav a{
    width: 100%;
    display: block;
}

nav a:hover {
    background-color: gray;

}

#links {
    display: none;
}

.hamburger{
    display: block;
    float: right;
}

.logo{
    height: 80px;
    width: 80px;
    float: left;
}

.topnav{
    width: 100%;
    margin: auto;
    height: fit-content;
    overflow: hidden;
}

}

@media screen and (min-width: 501px) {
    nav{
        display: flex;
        font-size: 20px;
        overflow: hidden;
        background-color: rgb(247, 185, 247);
        justify-content: space-around;
        
    }

    #links{
        display: block !important;
        margin-top: 30px;
    }
    
    .hamburger{
        display: none;
    }
    
    nav li{
        display: inline-flex;
    }
    
    
    nav a{
        width: 100%;
        display: inline-block;
        padding: 10px;
    }
    
    nav a:hover {
        background-color: gray;
    
    }

    .logo{
        width: 70px;
        height: 70px;
    }


}